<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label position="floating">Widget Text</ion-label>
      <ion-input [(ngModel)]="text"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="block" (click)="onUpdate()">Update Widget</ion-button>
  </div>
</ion-content>
